// @import url(https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);//google web font added
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);

body {
  font-family: 'KoPub Batang', serif;
//   font-family: -apple-system, "Nanum Gothic Coding", BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}
