@import url(https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);//google web font added


//$body-font-family: "Nanum Gothic Coding", -apple-system, BlinkMacSystemFont, "helvetica neue",
//  helvetica, roboto, noto, "segoe ui", arial, sans-serif !default;

body {
  font-family: "Nanum Gothic Coding" !default;
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}
